// &__background {
//   display: flex;
//   justify-content: center;
//   align-items: flex-end;
//   height: 100%;
//   width: 100%;
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-blend-mode: color;
//   position: relative;
//   transition: all 0.5s ease;

////////////////////////////////////////////
// Slider Stylings /////////////////////
////////////////////////////////////////////

.slider {
  grid-column: full-start / full-end;
  display: flex;
  justify-self: center;
  align-self: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;

  &__images {
    display: flex;

    &__image {
      width: 100vw;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    &__btn {
      margin: 0;
      background: none;
      border: none;

      & svg {
        width: 5rem;
        height: 5rem;
        background: rgba(black, 0.3);
        box-shadow: 0 0 2px black;
        border-radius: 50%;
        fill: rgba(white, 0.6);
        margin: 1rem;
        cursor: pointer;

        &:hover {
          fill: rgba(white, 1);
        }
        @media screen and (max-width: 560px) {
          margin: 0.5rem;
          width: 3rem;
          height: 3rem;
        }
      }
    }
    &__dots {
      margin: 1rem;
      padding: 0.3rem 0.5rem;
      align-self: flex-end;
      justify-self: center;
      display: flex;
      justify-content: space-around;
      background-color: rgba(black, 0.5);
      border-radius: 10px;
      @media screen and (max-width: 560px) {
        margin: 0;
        margin-bottom: 1rem;
      }

      &__dot {
        margin: 0.5rem;
        width: 2rem;
        height: 2rem;
        border: 2px solid transparent;
        border-radius: 50%;
        background-color: rgba(white, 0.3);
        cursor: pointer;
        transition: all 0.4s ease;
        @media screen and (max-width: 560px) {
          margin: 0.3rem;
          width: 1.8rem;
          height: 1.8rem;
        }
        @media screen and (max-width: 360px) {
          width: 1.5rem;
          height: 1.5rem;
        }

        &:hover {
          background-color: rgba(white, 0.5);
          border: 2px solid white;
        }

        &.active {
          border: 2px solid white;
          background-color: rgba(white, 1);
        }
      }
    }
  }

  // &__dot-container {
  //   position: absolute;
  //   background-color: rgba($color-dark, 0.5);
  //   // border: 2px solid $color-light;
  //   border-radius: 10px;
  //   padding: 0.5rem 1rem;
  //   margin: 1rem;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   z-index: 10;

  //   &__dot {
  //     background-color: rgba($color-light, 0.4);
  //     width: 1.5rem;
  //     height: 1.5rem;
  //     margin: 0.5rem 1rem;
  //     border-radius: 50%;
  //     cursor: pointer;
  //     transition: all 0.5s ease-in-out;

  //     &.active {
  //       background-color: rgba($color-light, 1);
  //     }
  //   }
  // }
}

////////////////////////////////////////////
// Records Stylings ////////////////////////
////////////////////////////////////////////

.records {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, 26rem);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 6rem 0;
  @media screen and (max-width: 560px) {
    grid-template-columns: 1fr;
    gap: 0;
    margin: 0;
    margin-top: 1rem;
  }

  &__title {
    font-family: "SlopeOpera";
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    background-color: $color-light;
    color: $color-dark;
    width: 100%;
    min-width: max-content;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 560px) {
      font-size: 1.8rem;
      height: 7rem;
      padding: 1rem 0;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    justify-content: left;
    align-items: center;
    width: 100%;
    gap: 1rem;
    border-radius: 10px;
    padding: 4rem 2rem;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.8s ease-out;

    @media screen and (max-width: 560px) {
      justify-content: center;
      text-align: center;
      border-radius: 0;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, max-content);
    }

    &:hover {
      background-color: lighten($color-dark, 10%);
    }

    &.active {
      opacity: 1;
      transform: translateY(0%);
    }

    &__icon {
      justify-self: center;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      fill: $color-light;
      width: 4rem;
      height: 4rem;
      @media screen and (max-width: 560px) {
        grid-row: 1 / 2;
      }
    }

    &__counters {
      display: flex;
      justify-content: left;
      @media screen and (max-width: 560px) {
        justify-content: center;
      }
    }

    .pie-chart {
      transform: translateX(2px);
    }
  }
}

////////////////////////////////////////////
// Mastiff Stylings ////////////////////////
////////////////////////////////////////////

.mastiff {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: max-content 1fr;
  color: $color-dark;
  background-image: linear-gradient(
      100deg,
      rgba(white, 0.7) 5%,
      rgba($color-light, 0.7) 15%,
      rgba($color-light, 0.7) 50%,
      rgba(white, 0.7) 55%,
      rgba(transparent, 0) 55%
    ),
    url("images/mastiff.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 4rem;

  @media screen and (max-width: 770px) {
    background-image: linear-gradient(
        to right,
        rgba($color-light, 0.7),
        rgba($color-light, 0.7)
      ),
      url("images/mastiff.webp");
    grid-template-columns: 1fr;
  }
  @media screen and (max-width: 560px) {
    padding: 1.5rem;
  }

  &__title {
    font-family: "SlopeOpera";
    font-size: 6rem;
    text-transform: capitalize;
    text-shadow: 2px 2px 0 $color-light;
    @media screen and (max-width: 770px) {
      font-size: 5rem;
      text-align: center;
    }
    @media screen and (max-width: 560px) {
      font-size: 3rem;
      text-align: center;
    }
  }
  &__subtitle {
    grid-row: 2/ 3;
  }
}

////////////////////////////////////////////
// Characters Stylings /////////////////////
////////////////////////////////////////////

.characters {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 770px) {
    grid-template-columns: 1fr;

    #skarlet {
      order: -1;
    }
  }

  &__character {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-top: 4px solid $color-light;
    border-bottom: 4px solid $color-light;
    transition: all 0.5s ease;

    @media screen and (max-width: 770px) {
      padding: 0;
      height: 40rem;
      border: 0;
      border-right: 0 !important;
      border-top: 4px solid $color-light;
      &:last-child {
        border-bottom: 4px solid $color-light;
      }
    }

    &:not(:last-child) {
      border-right: 4px solid $color-light;
    }

    &:hover &__text--title {
      background-color: $color-light;
      color: $color-dark;
    }

    &__text {
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      width: 100%;

      &--title {
        width: 100%;
        font-family: "SlopeOpera";
        text-align: center;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: rgba($color-dark, 0.7);
        color: $color-light;
        transition: all 0.3s ease;
        @media screen and (max-width: 560px) {
          padding: 1rem;
        }

        &.active {
          background-color: $color-light;
          color: $color-dark;
        }
      }

      &--subtitle {
        padding: 1rem;
        transition: all 0.8s ease;
        height: 0;
        opacity: 0;
        @media screen and (max-width: 560px) {
          text-align: justify;
        }

        &.active {
          height: 100%;
          opacity: 1;
        }
      }
    }

    &__background {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.3s ease-in-out;
      transform: scale(1.1);

      filter: contrast(1.1) brightness(100%);

      &.active {
        transform: scale(1);
        filter: contrast(1.1) brightness(30%);
      }

      &.scorpion {
        background-image: linear-gradient(
            to bottom right,
            transparent,
            rgba(gold, 0.5)
          ),
          url("images/img-7.webp");
      }
      &.skarlet {
        background-image: linear-gradient(
            to bottom,
            transparent,
            rgba(crimson, 0.5)
          ),
          url("images/img-5.webp");
      }
      &.subzero {
        background-image: linear-gradient(
            to bottom,
            transparent,
            rgba(skyblue, 0.5)
          ),
          url("images/img-6.webp");
      }
    }
  }
}
