.nothing {
  grid-column: full-start / full-end;
}

.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SlopeOpera", sans-serif;
  background-color: $color-primary;

  padding: 0 2rem;
  height: 8rem;
  width: 100%;
  position: fixed;
  z-index: 20;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  @media screen and (max-width: 560px) {
    padding: 0;
  }

  &.active {
    background-color: rgba($color-dark, 0.5);
    height: 6rem;
    backdrop-filter: blur(5px);
    border-bottom: 4px solid $color-light;

    & a {
      color: $color-light;
      animation: none;
    }
  }

  &__logo {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;

    & a {
      text-decoration: none;
      color: $color-light;
      animation: glow 1s infinite;
      &:hover {
        text-shadow: 0 0 6px $color-light;
      }
    }
  }
}
