@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Medium.woff2");
}

@font-face {
  font-family: SlopeOpera;
  src: url("fonts/SlopeOpera-gg1Y.woff2");
}

:root {
  --bgcolor-primary: #d90429;
  --bgcolor-secondary: #212121;
}

@-webkit-keyframes glow {
  0% {
    text-shadow: 0 0 0px #edf2f4;
  }
  10% {
    text-shadow: 0 0 6px #edf2f4;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0px #edf2f4;
  }
  10% {
    text-shadow: 0 0 6px #edf2f4;
  }
}

.glitch {
  position: relative;
  /* Animation provies a slight random skew. Check bottom of doc
	for more information on how to random skew. */
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
		a typical top,right,bottom,left fashion and creates a mask
		to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
		with an alternating animation to keep things fresh. */
  animation: glitch-anim2 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(36px, 9999px, 12px, 0);
    -webkit-transform: skew(0.92deg);
    transform: skew(0.92deg);
  }
  5% {
    clip: rect(29px, 9999px, 69px, 0);
    -webkit-transform: skew(0.08deg);
    transform: skew(0.08deg);
  }
  10% {
    clip: rect(19px, 9999px, 11px, 0);
    -webkit-transform: skew(0.86deg);
    transform: skew(0.86deg);
  }
  15% {
    clip: rect(53px, 9999px, 36px, 0);
    -webkit-transform: skew(0.73deg);
    transform: skew(0.73deg);
  }
  20% {
    clip: rect(71px, 9999px, 48px, 0);
    -webkit-transform: skew(0.91deg);
    transform: skew(0.91deg);
  }
  25% {
    clip: rect(31px, 9999px, 48px, 0);
    -webkit-transform: skew(0.45deg);
    transform: skew(0.45deg);
  }
  30% {
    clip: rect(31px, 9999px, 13px, 0);
    -webkit-transform: skew(0.43deg);
    transform: skew(0.43deg);
  }
  35% {
    clip: rect(49px, 9999px, 100px, 0);
    -webkit-transform: skew(0.62deg);
    transform: skew(0.62deg);
  }
  40% {
    clip: rect(22px, 9999px, 69px, 0);
    -webkit-transform: skew(0.23deg);
    transform: skew(0.23deg);
  }
  45% {
    clip: rect(97px, 9999px, 15px, 0);
    -webkit-transform: skew(0.92deg);
    transform: skew(0.92deg);
  }
  50% {
    clip: rect(59px, 9999px, 5px, 0);
    -webkit-transform: skew(0.74deg);
    transform: skew(0.74deg);
  }
  55% {
    clip: rect(90px, 9999px, 97px, 0);
    -webkit-transform: skew(0.21deg);
    transform: skew(0.21deg);
  }
  60% {
    clip: rect(30px, 9999px, 45px, 0);
    -webkit-transform: skew(0.14deg);
    transform: skew(0.14deg);
  }
  65% {
    clip: rect(10px, 9999px, 33px, 0);
    -webkit-transform: skew(0.12deg);
    transform: skew(0.12deg);
  }
  70% {
    clip: rect(60px, 9999px, 76px, 0);
    -webkit-transform: skew(0.3deg);
    transform: skew(0.3deg);
  }
  75% {
    clip: rect(40px, 9999px, 83px, 0);
    -webkit-transform: skew(0.3deg);
    transform: skew(0.3deg);
  }
  80% {
    clip: rect(71px, 9999px, 26px, 0);
    -webkit-transform: skew(0.51deg);
    transform: skew(0.51deg);
  }
  85% {
    clip: rect(35px, 9999px, 93px, 0);
    -webkit-transform: skew(0.67deg);
    transform: skew(0.67deg);
  }
  90% {
    clip: rect(94px, 9999px, 28px, 0);
    -webkit-transform: skew(0.87deg);
    transform: skew(0.87deg);
  }
  95% {
    clip: rect(25px, 9999px, 42px, 0);
    -webkit-transform: skew(0.74deg);
    transform: skew(0.74deg);
  }
  100% {
    clip: rect(99px, 9999px, 48px, 0);
    -webkit-transform: skew(0.92deg);
    transform: skew(0.92deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(36px, 9999px, 12px, 0);
    -webkit-transform: skew(0.92deg);
    transform: skew(0.92deg);
  }
  5% {
    clip: rect(29px, 9999px, 69px, 0);
    -webkit-transform: skew(0.08deg);
    transform: skew(0.08deg);
  }
  10% {
    clip: rect(19px, 9999px, 11px, 0);
    -webkit-transform: skew(0.86deg);
    transform: skew(0.86deg);
  }
  15% {
    clip: rect(53px, 9999px, 36px, 0);
    -webkit-transform: skew(0.73deg);
    transform: skew(0.73deg);
  }
  20% {
    clip: rect(71px, 9999px, 48px, 0);
    -webkit-transform: skew(0.91deg);
    transform: skew(0.91deg);
  }
  25% {
    clip: rect(31px, 9999px, 48px, 0);
    -webkit-transform: skew(0.45deg);
    transform: skew(0.45deg);
  }
  30% {
    clip: rect(31px, 9999px, 13px, 0);
    -webkit-transform: skew(0.43deg);
    transform: skew(0.43deg);
  }
  35% {
    clip: rect(49px, 9999px, 100px, 0);
    -webkit-transform: skew(0.62deg);
    transform: skew(0.62deg);
  }
  40% {
    clip: rect(22px, 9999px, 69px, 0);
    -webkit-transform: skew(0.23deg);
    transform: skew(0.23deg);
  }
  45% {
    clip: rect(97px, 9999px, 15px, 0);
    -webkit-transform: skew(0.92deg);
    transform: skew(0.92deg);
  }
  50% {
    clip: rect(59px, 9999px, 5px, 0);
    -webkit-transform: skew(0.74deg);
    transform: skew(0.74deg);
  }
  55% {
    clip: rect(90px, 9999px, 97px, 0);
    -webkit-transform: skew(0.21deg);
    transform: skew(0.21deg);
  }
  60% {
    clip: rect(30px, 9999px, 45px, 0);
    -webkit-transform: skew(0.14deg);
    transform: skew(0.14deg);
  }
  65% {
    clip: rect(10px, 9999px, 33px, 0);
    -webkit-transform: skew(0.12deg);
    transform: skew(0.12deg);
  }
  70% {
    clip: rect(60px, 9999px, 76px, 0);
    -webkit-transform: skew(0.3deg);
    transform: skew(0.3deg);
  }
  75% {
    clip: rect(40px, 9999px, 83px, 0);
    -webkit-transform: skew(0.3deg);
    transform: skew(0.3deg);
  }
  80% {
    clip: rect(71px, 9999px, 26px, 0);
    -webkit-transform: skew(0.51deg);
    transform: skew(0.51deg);
  }
  85% {
    clip: rect(35px, 9999px, 93px, 0);
    -webkit-transform: skew(0.67deg);
    transform: skew(0.67deg);
  }
  90% {
    clip: rect(94px, 9999px, 28px, 0);
    -webkit-transform: skew(0.87deg);
    transform: skew(0.87deg);
  }
  95% {
    clip: rect(25px, 9999px, 42px, 0);
    -webkit-transform: skew(0.74deg);
    transform: skew(0.74deg);
  }
  100% {
    clip: rect(99px, 9999px, 48px, 0);
    -webkit-transform: skew(0.92deg);
    transform: skew(0.92deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(28px, 9999px, 77px, 0);
    -webkit-transform: skew(0.14deg);
    transform: skew(0.14deg);
  }
  5% {
    clip: rect(98px, 9999px, 21px, 0);
    -webkit-transform: skew(0.83deg);
    transform: skew(0.83deg);
  }
  10% {
    clip: rect(30px, 9999px, 72px, 0);
    -webkit-transform: skew(0.09deg);
    transform: skew(0.09deg);
  }
  15% {
    clip: rect(99px, 9999px, 24px, 0);
    -webkit-transform: skew(0.58deg);
    transform: skew(0.58deg);
  }
  20% {
    clip: rect(86px, 9999px, 48px, 0);
    -webkit-transform: skew(0.43deg);
    transform: skew(0.43deg);
  }
  25% {
    clip: rect(46px, 9999px, 65px, 0);
    -webkit-transform: skew(0.71deg);
    transform: skew(0.71deg);
  }
  30% {
    clip: rect(57px, 9999px, 87px, 0);
    -webkit-transform: skew(0.32deg);
    transform: skew(0.32deg);
  }
  35% {
    clip: rect(62px, 9999px, 69px, 0);
    -webkit-transform: skew(0.32deg);
    transform: skew(0.32deg);
  }
  40% {
    clip: rect(23px, 9999px, 60px, 0);
    -webkit-transform: skew(0.01deg);
    transform: skew(0.01deg);
  }
  45% {
    clip: rect(24px, 9999px, 43px, 0);
    -webkit-transform: skew(0.3deg);
    transform: skew(0.3deg);
  }
  50% {
    clip: rect(74px, 9999px, 66px, 0);
    -webkit-transform: skew(0.19deg);
    transform: skew(0.19deg);
  }
  55% {
    clip: rect(94px, 9999px, 44px, 0);
    -webkit-transform: skew(0.14deg);
    transform: skew(0.14deg);
  }
  60% {
    clip: rect(92px, 9999px, 20px, 0);
    -webkit-transform: skew(0.96deg);
    transform: skew(0.96deg);
  }
  65% {
    clip: rect(92px, 9999px, 24px, 0);
    -webkit-transform: skew(0.06deg);
    transform: skew(0.06deg);
  }
  70% {
    clip: rect(82px, 9999px, 17px, 0);
    -webkit-transform: skew(0.97deg);
    transform: skew(0.97deg);
  }
  75% {
    clip: rect(17px, 9999px, 20px, 0);
    -webkit-transform: skew(1deg);
    transform: skew(1deg);
  }
  80% {
    clip: rect(56px, 9999px, 80px, 0);
    -webkit-transform: skew(0.96deg);
    transform: skew(0.96deg);
  }
  85% {
    clip: rect(83px, 9999px, 83px, 0);
    -webkit-transform: skew(0.45deg);
    transform: skew(0.45deg);
  }
  90% {
    clip: rect(42px, 9999px, 15px, 0);
    -webkit-transform: skew(0.87deg);
    transform: skew(0.87deg);
  }
  95% {
    clip: rect(100px, 9999px, 44px, 0);
    -webkit-transform: skew(0.47deg);
    transform: skew(0.47deg);
  }
  100% {
    clip: rect(100px, 9999px, 68px, 0);
    -webkit-transform: skew(0.61deg);
    transform: skew(0.61deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(28px, 9999px, 77px, 0);
    -webkit-transform: skew(0.14deg);
    transform: skew(0.14deg);
  }
  5% {
    clip: rect(98px, 9999px, 21px, 0);
    -webkit-transform: skew(0.83deg);
    transform: skew(0.83deg);
  }
  10% {
    clip: rect(30px, 9999px, 72px, 0);
    -webkit-transform: skew(0.09deg);
    transform: skew(0.09deg);
  }
  15% {
    clip: rect(99px, 9999px, 24px, 0);
    -webkit-transform: skew(0.58deg);
    transform: skew(0.58deg);
  }
  20% {
    clip: rect(86px, 9999px, 48px, 0);
    -webkit-transform: skew(0.43deg);
    transform: skew(0.43deg);
  }
  25% {
    clip: rect(46px, 9999px, 65px, 0);
    -webkit-transform: skew(0.71deg);
    transform: skew(0.71deg);
  }
  30% {
    clip: rect(57px, 9999px, 87px, 0);
    -webkit-transform: skew(0.32deg);
    transform: skew(0.32deg);
  }
  35% {
    clip: rect(62px, 9999px, 69px, 0);
    -webkit-transform: skew(0.32deg);
    transform: skew(0.32deg);
  }
  40% {
    clip: rect(23px, 9999px, 60px, 0);
    -webkit-transform: skew(0.01deg);
    transform: skew(0.01deg);
  }
  45% {
    clip: rect(24px, 9999px, 43px, 0);
    -webkit-transform: skew(0.3deg);
    transform: skew(0.3deg);
  }
  50% {
    clip: rect(74px, 9999px, 66px, 0);
    -webkit-transform: skew(0.19deg);
    transform: skew(0.19deg);
  }
  55% {
    clip: rect(94px, 9999px, 44px, 0);
    -webkit-transform: skew(0.14deg);
    transform: skew(0.14deg);
  }
  60% {
    clip: rect(92px, 9999px, 20px, 0);
    -webkit-transform: skew(0.96deg);
    transform: skew(0.96deg);
  }
  65% {
    clip: rect(92px, 9999px, 24px, 0);
    -webkit-transform: skew(0.06deg);
    transform: skew(0.06deg);
  }
  70% {
    clip: rect(82px, 9999px, 17px, 0);
    -webkit-transform: skew(0.97deg);
    transform: skew(0.97deg);
  }
  75% {
    clip: rect(17px, 9999px, 20px, 0);
    -webkit-transform: skew(1deg);
    transform: skew(1deg);
  }
  80% {
    clip: rect(56px, 9999px, 80px, 0);
    -webkit-transform: skew(0.96deg);
    transform: skew(0.96deg);
  }
  85% {
    clip: rect(83px, 9999px, 83px, 0);
    -webkit-transform: skew(0.45deg);
    transform: skew(0.45deg);
  }
  90% {
    clip: rect(42px, 9999px, 15px, 0);
    -webkit-transform: skew(0.87deg);
    transform: skew(0.87deg);
  }
  95% {
    clip: rect(100px, 9999px, 44px, 0);
    -webkit-transform: skew(0.47deg);
    transform: skew(0.47deg);
  }
  100% {
    clip: rect(100px, 9999px, 68px, 0);
    -webkit-transform: skew(0.61deg);
    transform: skew(0.61deg);
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  cursor: default;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #212121;
  color: #edf2f4;
  display: -ms-grid;
  display: grid;
  font-size: 2rem;
  -ms-grid-columns: [full-start] 1fr [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[6] [center-end] 1fr [full-end];
      grid-template-columns: [full-start] 1fr [center-start] repeat(6, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
      grid-template-columns: [full-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
  -ms-grid-rows: 8rem calc(90vh - 8rem) 1fr minmax(40rem, max-content) minmax(50rem, max-content) 80rem;
      grid-template-rows: 8rem calc(90vh - 8rem) 1fr minmax(40rem, -webkit-max-content) minmax(50rem, -webkit-max-content) 80rem;
      grid-template-rows: 8rem calc(90vh - 8rem) 1fr minmax(40rem, max-content) minmax(50rem, max-content) 80rem;
  min-height: 100vh;
}

.background {
  grid-column: full-start / full-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: contrast(1.1) brightness(1.1);
          filter: contrast(1.1) brightness(1.1);
}

.background__slider {
  position: absolute;
  background-color: rgba(33, 33, 33, 0.5);
  border: 2px solid #edf2f4;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.background__slider__dot {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem 1rem;
  border-radius: 50%;
  outline: 3px solid #edf2f4;
  border: 3px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-spacing: 10px;
}

.background__slider__dot.active {
  background-color: #edf2f4;
  border: 3px solid #212121;
}

.records {
  grid-column: center-start / center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (26rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 26rem);
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  margin: 6rem 0;
}

@media screen and (max-width: 560px) {
  .records {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0;
    margin: 0;
    margin-top: 1rem;
  }
}

.records__title {
  font-family: "SlopeOpera";
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background-color: #edf2f4;
  color: #212121;
  width: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 560px) {
  .records__title {
    height: 7rem;
  }
}

.records__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  -ms-grid-rows: (max-content)[2];
      grid-template-rows: repeat(2, -webkit-max-content);
      grid-template-rows: repeat(2, max-content);
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 1rem;
  border-radius: 10px;
  padding: 4rem 2rem;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

@media screen and (max-width: 560px) {
  .records__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    border-radius: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (max-content)[3];
        grid-template-rows: repeat(3, -webkit-max-content);
        grid-template-rows: repeat(3, max-content);
  }
}

.records__container:hover {
  background-color: #3b3b3b;
}

.records__container.active {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.records__container__icon {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  fill: #edf2f4;
  width: 4rem;
  height: 4rem;
}

@media screen and (max-width: 560px) {
  .records__container__icon {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.records__container__counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

@media screen and (max-width: 560px) {
  .records__container__counters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.records__container .pie-chart {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

.mastiff {
  grid-column: full-start / full-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
  color: #212121;
  background-image: linear-gradient(100deg, white 5%, rgba(237, 242, 244, 0.7) 15%, rgba(237, 242, 244, 0.7) 50%, white 55%, transparent 55%), url("images/mastiff.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 4rem;
}

@media screen and (max-width: 770px) {
  .mastiff {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(237, 242, 244, 0.7))), url("images/mastiff.webp");
    background-image: linear-gradient(to right, rgba(237, 242, 244, 0.7)), url("images/mastiff.webp");
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.mastiff__title {
  font-family: "SlopeOpera";
  font-size: 6rem;
  text-transform: capitalize;
  text-shadow: 2px 2px 0 #edf2f4;
}

@media screen and (max-width: 770px) {
  .mastiff__title {
    font-size: 5rem;
    text-align: center;
  }
}

.mastiff__subtitle {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ 3;
}

.characters {
  grid-column: full-start / full-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 770px) {
  .characters {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .characters #skarlet {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.characters__character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-top: 4px solid #edf2f4;
  border-bottom: 4px solid #edf2f4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 770px) {
  .characters__character {
    height: 40rem;
    border: 0;
    border-top: 4px solid #edf2f4;
  }
  .characters__character:last-child {
    border-bottom: 4px solid #edf2f4;
  }
}

.characters__character:not(:last-child) {
  border-right: 4px solid #edf2f4;
}

.characters__character:hover .characters__character__text--title {
  background-color: #edf2f4;
  color: #212121;
}

.characters__character__text {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.characters__character__text--title {
  font-family: "SlopeOpera";
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(33, 33, 33, 0.7);
  color: #edf2f4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.characters__character__text--title.active {
  background-color: #edf2f4;
  color: #212121;
}

.characters__character__text--subtitle {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  height: 0;
  opacity: 0;
}

.characters__character__text--subtitle.active {
  height: 100%;
  opacity: 1;
}

.characters__character__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: contrast(1.1) brightness(100%);
          filter: contrast(1.1) brightness(100%);
}

.characters__character__background.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: contrast(1.1) brightness(30%);
          filter: contrast(1.1) brightness(30%);
}

.characters__character__background.scorpion {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 215, 0, 0.2))), url("images/img-7.webp");
  background-image: linear-gradient(rgba(255, 215, 0, 0.2)), url("images/img-7.webp");
}

.characters__character__background.skarlet {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 20, 60, 0.2))), url("images/img-5.webp");
  background-image: linear-gradient(rgba(220, 20, 60, 0.2)), url("images/img-5.webp");
}

.characters__character__background.subzero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(135, 206, 235, 0.2))), url("images/img-6.webp");
  background-image: linear-gradient(rgba(135, 206, 235, 0.2)), url("images/img-6.webp");
}

.nothing {
  grid-column: full-start / full-end;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "SlopeOpera", sans-serif;
  background-color: #d90429;
  padding: 0 2rem;
  height: 8rem;
  width: 100%;
  position: fixed;
  z-index: 20;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

.topbar.active {
  background-color: rgba(33, 33, 33, 0.5);
  height: 6rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-bottom: 4px solid #edf2f4;
}

.topbar.active a {
  color: #edf2f4;
  -webkit-animation: none;
          animation: none;
}

.topbar__logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
}

.topbar__logo a {
  text-decoration: none;
  color: #edf2f4;
  -webkit-animation: glow 1s infinite;
          animation: glow 1s infinite;
}

.topbar__logo a:hover {
  text-shadow: 0 0 6px #edf2f4;
}
/*# sourceMappingURL=style.css.map */