@font-face {
  font-family: Shams;
  src: url("font/Shams.woff"), url("font/Shams.woff2");
}

@font-face {
  font-family: Yekan;
  src: url("font/Yekan.woff"), url("font/Yekan.woff");
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  cursor: default;
}

body {
  font-family: "Yekan", tahoma, sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] 1fr [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] 1fr [full-end sidebar-start] 23rem [sidebar-end];
      grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] 1fr [full-end sidebar-start] 23rem [sidebar-end];
      grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end sidebar-start] 23rem [sidebar-end];
  -ms-grid-rows: 6rem calc(90vh - 6rem) 40vh auto;
      grid-template-rows: 6rem calc(90vh - 6rem) 40vh auto;
  grid-gap: 2px;
  background-color: #e8fccf;
  padding: 2rem;
}

.header {
  grid-column: full-start / full-end;
}

.header__background {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(150, 224, 114, 0.7)), to(rgba(19, 70, 17, 0.7))), url("img/img-01.webp");
  background-image: linear-gradient(to bottom right, rgba(150, 224, 114, 0.7), rgba(19, 70, 17, 0.7)), url("img/img-01.webp");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.header__title {
  color: white;
  line-height: 1;
  font-weight: 400;
}

.header__title--main {
  display: block;
  font-size: 13rem;
  text-align: center;
}

.header__title--sub {
  display: block;
  font-size: 2.5rem;
  text-align: center;
}

.main {
  grid-column: center-start / center-end;
}

.main__background {
  height: 100%;
  background-color: white;
}

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
}

.sidebar__logobox {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(150, 224, 114, 0.75)), to(rgba(19, 70, 17, 0.75))), url("img/img-05.webp");
  background-image: linear-gradient(to bottom right, rgba(150, 224, 114, 0.75), rgba(19, 70, 17, 0.75)), url("img/img-05.webp");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}

.sidebar__logo {
  width: 12rem;
  height: 12rem;
  background-image: url("img/logo.webp");
  background-size: cover;
  border-radius: 50%;
  border: 3px solid #96e072;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  overflow: hidden;
}

.sidebar__logo:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.sidebar__logo > a {
  display: block;
  width: 100%;
  height: 100%;
}

.sidebar__title {
  font-weight: 400;
  line-height: 1.3;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
}

.sidebar__title--main {
  display: block;
  font-size: 4.5rem;
}

.sidebar__title--sub {
  display: block;
  font-size: 1.6rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.sidebar__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #32373d;
}

.sidebar__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
}

.sidebar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 105%;
  height: 5rem;
  color: white;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: 1rem 3rem;
  text-decoration: none;
}

.sidebar__item:hover {
  background-color: #52b61a;
  -webkit-transform: translateX(-0.5rem);
          transform: translateX(-0.5rem);
}

.sidebar__item:not(:last-child) {
  border-bottom: 1px solid #495059;
}

.sidebar__icon {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
  margin-left: 1rem;
}

.sidebar__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 1rem 0;
}

.sidebar__social__item {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__social__item:hover, .sidebar__social__item:active {
  background-color: #495059;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.sidebar__social__icon {
  width: 2rem;
  height: 2rem;
  fill: white;
}

.topbar {
  grid-column: full-start / full-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [icons-start] minmax(max-content, 1fr) [icons-end search-start] 2fr [search-end] 1fr;
      grid-template-columns: [icons-start] minmax(-webkit-max-content, 1fr) [icons-end search-start] 2fr [search-end] 1fr;
      grid-template-columns: [icons-start] minmax(max-content, 1fr) [icons-end search-start] 2fr [search-end] 1fr;
  background-color: #96e072;
  border-radius: 10px;
}

.topbar__logo {
  background-image: url("img/logo.webp");
  background-size: cover;
}

.topbar__account {
  grid-column: icons-start / icons-end;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1rem;
}

.topbar__account__iconbox {
  width: 4rem;
  height: 4rem;
  margin: 0 0.4rem;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #e8fccf;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar__account__iconbox:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  background-color: white;
}

.topbar__account__icon {
  width: 2rem;
  height: 2rem;
  fill: #32373d;
}

.topbar__account__icon--user {
  margin-top: -4px;
  margin-left: 1px;
}

.topbar__account__icon--cart {
  margin-left: -2px;
}

.topbar__account__icon--logo {
  display: block;
  width: 100%;
  height: 100%;
}

.topbar__search-box {
  -ms-flex-item-align: center;
      align-self: center;
  grid-column: search-start / search-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar__search-box__text {
  border-radius: 100px;
  background-color: #e8fccf;
  width: 90%;
  height: 3.5rem;
  padding: 0 2rem;
  font-family: inherit;
  font-size: 1.4rem;
  color: inherit;
  border: none;
  text-align: right;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.topbar__search-box__text:focus, .topbar__search-box__text:active {
  background-color: white;
  outline: none;
  width: 100%;
}

.topbar__search-box__icon-box {
  z-index: 2;
  background-color: transparent;
  fill: #32373d;
  border: none;
  margin-top: 3px;
  margin-right: -3rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.topbar__search-box__icon-box:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  fill: black;
}

.topbar__search-box__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.topbar__search-box ::-webkit-input-placeholder {
  text-align: right;
}
/*# sourceMappingURL=style.css.map */