@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Medium.woff2");
}
@font-face {
  font-family: SlopeOpera;
  src: url("fonts/SlopeOpera-gg1Y.woff2");
}
:root {
  --bgcolor-primary: #d90429;
  --bgcolor-secondary: #212121;
}

@-webkit-keyframes glow {
  0% {
    text-shadow: 0 0 0px #edf2f4;
  }
  10% {
    text-shadow: 0 0 6px #edf2f4;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0px #edf2f4;
  }
  10% {
    text-shadow: 0 0 6px #edf2f4;
  }
}
* {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  cursor: default;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #212121;
  color: #edf2f4;
  display: grid;
  font-size: 2rem;
  grid-template-columns: [full-start] 1fr [center-start] repeat(6, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
  grid-template-columns: [full-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
  grid-template-rows: 8rem calc(90vh - 8rem) 1fr minmax(40rem, -webkit-max-content) minmax(50rem, -webkit-max-content) 80rem;
  grid-template-rows: 8rem calc(90vh - 8rem) 1fr minmax(40rem, max-content) minmax(50rem, max-content) 80rem;
  min-height: 100vh;
}

.slider {
  grid-column: full-start/full-end;
  display: flex;
  justify-self: center;
  align-self: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__images {
  display: flex;
}
.slider__images__image {
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.slider__container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
}
.slider__container__btn {
  background: none;
  border: none;
}
.slider__container__btn svg {
  width: 5rem;
  height: 5rem;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px black;
  border-radius: 50%;
  fill: rgba(255, 255, 255, 0.6);
  margin: 1rem;
  cursor: pointer;
}
.slider__container__btn svg:hover {
  fill: white;
}
.slider__container__dots {
  margin: 1rem;
  padding: 0.3rem 0.5rem;
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.slider__container__dots__dot {
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: all 0.4s ease;
}
.slider__container__dots__dot:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
}
.slider__container__dots__dot.active {
  border: 2px solid white;
  background-color: white;
}

.records {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, 26rem);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 6rem 0;
}
@media screen and (max-width: 560px) {
  .records {
    grid-template-columns: 1fr;
    gap: 0;
    margin: 0;
    margin-top: 1rem;
  }
}
.records__title {
  font-family: "SlopeOpera";
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: #edf2f4;
  color: #212121;
  width: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 560px) {
  .records__title {
    font-size: 2.5rem;
    height: 7rem;
  }
}
.records__container {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, -webkit-max-content);
  grid-template-rows: repeat(2, max-content);
  justify-content: left;
  align-items: center;
  width: 100%;
  gap: 1rem;
  border-radius: 10px;
  padding: 4rem 2rem;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.8s ease-out;
}
@media screen and (max-width: 560px) {
  .records__container {
    justify-content: center;
    text-align: center;
    border-radius: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
  }
}
.records__container:hover {
  background-color: #3b3b3b;
}
.records__container.active {
  opacity: 1;
  transform: translateY(0%);
}
.records__container__icon {
  justify-self: center;
  grid-column: 1/2;
  grid-row: 1/3;
  fill: #edf2f4;
  width: 4rem;
  height: 4rem;
}
@media screen and (max-width: 560px) {
  .records__container__icon {
    grid-row: 1/2;
  }
}
.records__container__counters {
  display: flex;
  justify-content: left;
}
@media screen and (max-width: 560px) {
  .records__container__counters {
    justify-content: center;
  }
}
.records__container .pie-chart {
  transform: translateX(2px);
}

.mastiff {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: -webkit-max-content 1fr;
  grid-template-rows: max-content 1fr;
  color: #212121;
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.7) 5%, rgba(237, 242, 244, 0.7) 15%, rgba(237, 242, 244, 0.7) 50%, rgba(255, 255, 255, 0.7) 55%, rgba(0, 0, 0, 0) 55%), url("images/mastiff.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 4rem;
}
@media screen and (max-width: 770px) {
  .mastiff {
    background-image: linear-gradient(to right, rgba(237, 242, 244, 0.7), rgba(237, 242, 244, 0.7)), url("images/mastiff.webp");
    grid-template-columns: 1fr;
  }
}
.mastiff__title {
  font-family: "SlopeOpera";
  font-size: 6rem;
  text-transform: capitalize;
  text-shadow: 2px 2px 0 #edf2f4;
}
@media screen and (max-width: 770px) {
  .mastiff__title {
    font-size: 5rem;
    text-align: center;
  }
}
.mastiff__subtitle {
  grid-row: 2/3;
}

.characters {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 770px) {
  .characters {
    grid-template-columns: 1fr;
  }
  .characters #skarlet {
    order: -1;
  }
}
.characters__character {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-top: 4px solid #edf2f4;
  border-bottom: 4px solid #edf2f4;
  transition: all 0.5s ease;
}
@media screen and (max-width: 770px) {
  .characters__character {
    height: 40rem;
    border: 0;
    border-right: 0 !important;
    border-top: 4px solid #edf2f4;
  }
  .characters__character:last-child {
    border-bottom: 4px solid #edf2f4;
  }
}
.characters__character:not(:last-child) {
  border-right: 4px solid #edf2f4;
}
.characters__character:hover .characters__character__text--title {
  background-color: #edf2f4;
  color: #212121;
}
.characters__character__text {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
.characters__character__text--title {
  font-family: "SlopeOpera";
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(33, 33, 33, 0.7);
  color: #edf2f4;
  transition: all 0.3s ease;
}
.characters__character__text--title.active {
  background-color: #edf2f4;
  color: #212121;
}
.characters__character__text--subtitle {
  transition: all 0.8s ease;
  height: 0;
  opacity: 0;
}
.characters__character__text--subtitle.active {
  height: 100%;
  opacity: 1;
}
.characters__character__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
  filter: contrast(1.1) brightness(100%);
}
.characters__character__background.active {
  transform: scale(1);
  filter: contrast(1.1) brightness(30%);
}
.characters__character__background.scorpion {
  background-image: linear-gradient(to bottom right, transparent, rgba(255, 215, 0, 0.5)), url("images/img-7.webp");
}
.characters__character__background.skarlet {
  background-image: linear-gradient(to bottom, transparent, rgba(220, 20, 60, 0.5)), url("images/img-5.webp");
}
.characters__character__background.subzero {
  background-image: linear-gradient(to bottom, transparent, rgba(135, 206, 235, 0.5)), url("images/img-6.webp");
}

.nothing {
  grid-column: full-start/full-end;
}

.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SlopeOpera", sans-serif;
  background-color: #d90429;
  padding: 0 2rem;
  height: 8rem;
  width: 100%;
  position: fixed;
  z-index: 20;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}
.topbar.active {
  background-color: rgba(33, 33, 33, 0.5);
  height: 6rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-bottom: 4px solid #edf2f4;
}
.topbar.active a {
  color: #edf2f4;
  -webkit-animation: none;
          animation: none;
}
.topbar__logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.topbar__logo a {
  text-decoration: none;
  color: #edf2f4;
  -webkit-animation: glow 1s infinite;
          animation: glow 1s infinite;
}
.topbar__logo a:hover {
  text-shadow: 0 0 6px #edf2f4;
}/*# sourceMappingURL=style.css.map */