* {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  transition: all 0.2s ease;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px (10px/16px = 62.5%)
  cursor: default;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $color-dark;
  color: $color-light;
  display: grid;
  font-size: 2rem;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      6,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
  grid-template-rows: 8rem calc(90vh - 8rem) 1fr minmax(40rem, max-content) 80rem;
  min-height: 100vh;
}
